USE [HyveHR]
GO
/****** Object:  Table [dbo].[Appraisal]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appraisal](
	[ID] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[CorpValues] [int] NULL,
	[Attendance] [int] NULL,
	[Neatness] [int] NULL,
	[Integrity] [int] NULL,
	[CustomerFocus] [int] NULL,
	[Communications] [int] NULL,
	[State] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[StatusId] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppraisalGoal]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppraisalGoal](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Outcomes] [nvarchar](max) NULL,
	[Resources] [nvarchar](max) NULL,
	[AppraisalId] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Benefit]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benefit](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[BenefitProviderId] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
	[ProviderServiceId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Benefit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenefitProvider]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenefitProvider](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
	[Phone] [nvarchar](15) NULL,
 CONSTRAINT [PK_BenefitProvider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillRule]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillRule](
	[ID] [uniqueidentifier] NOT NULL,
	[PlanName] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
	[Price] [float] NULL,
	[AdditionalCharges] [float] NULL,
	[MaxEmployees] [int] NULL,
 CONSTRAINT [PK_BillRule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidate]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidate](
	[ID] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[JobInterviewId] [uniqueidentifier] NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[NewJobId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NOT NULL,
	[Source] [nvarchar](50) NULL,
	[GenderId] [uniqueidentifier] NOT NULL,
	[StatusId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Candidate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateStatusId]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateStatusId](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ProvinceId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[ID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[LegalName] [nvarchar](300) NULL,
	[PostCode] [varchar](50) NULL,
	[ProvinceId] [uniqueidentifier] NULL,
	[CityId] [uniqueidentifier] NULL,
	[BillRuleId] [uniqueidentifier] NULL,
	[TD1FedRuleId] [uniqueidentifier] NULL,
	[PrimaryUserId] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
	[AddressLine1] [nvarchar](300) NULL,
	[AddressLine2] [nvarchar](300) NULL,
	[Phone] [nvarchar](50) NULL,
	[CraBusinessNumber] [nvarchar](50) NULL,
	[RqNumber] [nvarchar](50) NULL,
	[WsibNumber] [nvarchar](50) NULL,
	[EhtNumber] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[TollFree] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyAddress]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyAddress](
	[ID] [uniqueidentifier] NOT NULL,
	[Address] [date] NOT NULL,
	[CityId] [uniqueidentifier] NOT NULL,
	[ProvinceId] [uniqueidentifier] NOT NULL,
	[PostCode] [date] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_CompanyAddress] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyRole]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyRole](
	[ID] [nchar](10) NULL,
	[RoleName] [varbinary](100) NULL,
	[RoleId] [uniqueidentifier] NULL,
	[CompanyId] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyTD1ProvRule]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyTD1ProvRule](
	[ID] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[TD1ProvRule] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_CompanyTD1ProvRule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyVacationRule]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyVacationRule](
	[ID] [uniqueidentifier] NOT NULL,
	[ProvinceId] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[Days] [float] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_CompanyVacationRule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseEmployee]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseEmployee](
	[CourseEmployeeId] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Status] [uniqueidentifier] NULL,
	[State] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CourseEmployee] PRIMARY KEY CLUSTERED 
(
	[CourseEmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseEmployeeStatus]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseEmployeeStatus](
	[CourseEmployeeStatusId] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[State] [int] NULL,
 CONSTRAINT [PK_CourseEmployeeStatus] PRIMARY KEY CLUSTERED 
(
	[CourseEmployeeStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[ID] [uniqueidentifier] NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
	[Venue] [nvarchar](max) NULL,
	[ContactPhone] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Audiance] [nvarchar](500) NULL,
	[Price] [money] NULL,
	[Qualification] [nvarchar](500) NULL,
	[Certification] [nvarchar](200) NULL,
	[AdditionalInformation] [nvarchar](500) NULL,
	[URL] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
	[CourseStatus] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseStatus]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseStatus](
	[ID] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[State] [int] NULL,
 CONSTRAINT [PK_CourseStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditCard]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCard](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [date] NOT NULL,
	[Expiry] [date] NOT NULL,
	[Number] [int] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_CreditCard] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deptt]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deptt](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Deptt] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTablePreferences]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTablePreferences](
	[ID] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[FirstName] [bit] NULL,
	[LastName] [bit] NULL,
	[FullName] [bit] NULL,
	[Email] [bit] NULL,
	[Phone] [bit] NULL,
	[AddressLine1] [bit] NULL,
	[AddressLine2] [bit] NULL,
	[Province] [bit] NULL,
	[City] [bit] NULL,
	[Deptt] [bit] NULL,
	[JobTitle] [bit] NULL,
	[CreatedBy] [bit] NULL,
	[CreatedOn] [bit] NULL,
	[ModifiedBy] [bit] NULL,
	[DateOfJoining] [bit] NULL,
	[DateOfBirth] [bit] NULL,
	[Gender] [bit] NULL,
	[EmployeeId] [bit] NULL,
	[ProvinceofEmployment] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expense]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expense](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ExpenseCatId] [uniqueidentifier] NOT NULL,
	[GradeId] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Expense] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseCat]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseCat](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_ExpenseCat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinalProvinnces]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalProvinnces](
	[ID] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[CreatedOn] [varchar](50) NULL,
	[ModifiedOn] [varchar](50) NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Owner] [varchar](50) NULL,
	[State] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Grade] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holiday]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holiday](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[State] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportFaliure]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportFaliure](
	[ID] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[RowData] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
 CONSTRAINT [PK_ImportFaliure] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterviewPanel]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewPanel](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[JobInterviewId] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Role] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[Remark] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterviewRemark]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewRemark](
	[ID] [uniqueidentifier] NOT NULL,
	[JobId] [uniqueidentifier] NOT NULL,
	[CandidateId] [uniqueidentifier] NOT NULL,
	[InterviewPanelId] [uniqueidentifier] NOT NULL,
	[Remark] [nvarchar](max) NOT NULL,
	[Decision] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK__Intervie__3214EC2774A282C1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Amount] [int] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[BillRuleId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobInterview]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobInterview](
	[ID] [uniqueidentifier] NOT NULL,
	[NewJobId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
	[InterviewPanelId] [uniqueidentifier] NULL,
	[NumberOfApplicants] [int] NULL,
 CONSTRAINT [PK_JobInterview] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobTitle]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTitle](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_JobTitle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[ID] [uniqueidentifier] NOT NULL,
	[Language] [nvarchar](200) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leave]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[MinRange] [int] NULL,
	[MaxRange] [int] NULL,
	[Days] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[LeaveEligibilityId] [uniqueidentifier] NULL,
	[CompanyId] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LegalName]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LegalName](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[DateFrom] [date] NOT NULL,
	[DateTo] [date] NOT NULL,
	[CompanyID] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_LegalName] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewJob]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewJob](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](999) NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[JobTitleId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
	[DepttId] [uniqueidentifier] NULL,
	[StatusId] [uniqueidentifier] NULL,
	[Requirements] [nvarchar](50) NULL,
	[Preferences] [nvarchar](50) NULL,
	[Deadline] [date] NULL,
	[Compensation] [float] NULL,
	[Type] [nvarchar](50) NULL,
	[EmploymentType] [nvarchar](50) NULL,
	[SecurityClearance] [bit] NULL,
	[ClearanceLvl] [nvarchar](50) NULL,
	[Duration] [nvarchar](50) NULL,
 CONSTRAINT [PK_NewJob] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewJobStatus]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewJobStatus](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[ID] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[Type] [nvarchar](50) NULL,
	[IsRead] [bit] NULL,
	[CreatedOn] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaySchedule]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaySchedule](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_PaySchedule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderServices]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderServices](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ProviderId] [uniqueidentifier] NOT NULL,
	[ActivationDate] [date] NOT NULL,
	[Limit] [int] NULL,
	[Price] [float] NOT NULL,
	[CompanyId] [uniqueidentifier] NULL,
	[Terms] [nvarchar](max) NULL,
	[PlanCoverage] [nvarchar](max) NULL,
	[PlanLimits] [nvarchar](max) NULL,
	[Taxable] [bit] NULL,
	[Status] [nvarchar](max) NULL,
	[MinAge] [int] NULL,
	[MinDesignation] [nvarchar](max) NULL,
	[GradeId] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[ID] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[State] [bit] NOT NULL,
	[HowIsEmployeePaid] [nvarchar](100) NULL,
	[RegularSalary] [decimal](18, 0) NULL,
	[HourlyPayRate] [decimal](18, 0) NULL,
	[RegularHours] [decimal](18, 0) NULL,
	[GrossRemuneration] [decimal](18, 0) NULL,
	[MinVacationPay] [decimal](18, 0) NULL,
	[WSIBCUCode] [nvarchar](100) NULL,
	[OtherFederalTaxCredits] [decimal](18, 0) NULL,
	[ProvincialNonRefundableTaxCredits] [decimal](18, 0) NULL,
	[BroughtApprovedShareOfCapitalStock] [decimal](18, 0) NULL,
	[NoOfDisabledDependent] [int] NULL,
	[NoOfDependentUnderAge18] [int] NULL,
	[CPP] [bit] NULL,
	[EI] [bit] NULL,
	[FederalTax] [bit] NULL,
	[ProvincialTax] [bit] NULL,
	[WSIBWCB] [bit] NULL,
	[Director] [nvarchar](100) NULL,
	[EffectiveDate] [datetime] NULL,
	[Archive] [bit] NULL,
 CONSTRAINT [PK_Salary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD1Fed]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD1Fed](
	[Id] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[BasicAmount] [float] NULL,
	[CaregiverAmount] [float] NULL,
	[AgeAmount] [float] NULL,
	[PensionAmount] [float] NULL,
	[TutionAmount] [float] NULL,
	[DisabilityAmount] [float] NULL,
	[SpouseAmount] [float] NULL,
	[EligibleDependentAmount] [float] NULL,
	[CaregiverDependentAmount] [float] NULL,
	[SpouseTransferAmount] [float] NULL,
	[DependentTransferAmount] [float] NULL,
	[TotalAmount] [float] NULL,
	[ZoneAmount] [float] NULL,
	[AdditionalTax] [float] NULL,
	[ForDate] [date] NULL,
	[FilePath] [varchar](max) NULL,
	[CreatedOn] [date] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[State] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Td1FedForm]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Td1FedForm](
	[Id] [uniqueidentifier] NULL,
	[FieldName] [varchar](max) NULL,
	[Heading] [varchar](max) NULL,
	[Details] [text] NULL,
	[Value] [float] NULL,
	[CreatedOn] [date] NULL,
	[ModifiedOn] [date] NULL,
	[State] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD1FedRule]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD1FedRule](
	[ID] [uniqueidentifier] NOT NULL,
	[DateCreate] [date] NOT NULL,
	[DateLive] [date] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_TD1FedRule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Td1Pdfs]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Td1Pdfs](
	[Id] [uniqueidentifier] NULL,
	[Province] [varchar](max) NULL,
	[FIlePath] [varchar](max) NULL,
	[UploadedOn] [date] NULL,
	[ModifiedOn] [date] NULL,
	[State] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD1Prov]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD1Prov](
	[Id] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ProvinceId] [uniqueidentifier] NOT NULL,
	[BasicAmount] [float] NULL,
	[CaregiverAmount] [float] NULL,
	[AgeAmount] [float] NULL,
	[PensionAmount] [float] NULL,
	[TutionAmount] [float] NULL,
	[DisabilityAmount] [float] NULL,
	[SpouseAmount] [float] NULL,
	[EligibleDependentAmount] [float] NULL,
	[CaregiverDependentAmount] [float] NULL,
	[SpouseTransferAmount] [float] NULL,
	[DependentTransferAmount] [float] NULL,
	[TotalAmount] [float] NULL,
	[ZoneAmount] [float] NULL,
	[AdditionalTax] [float] NULL,
	[ForDate] [date] NULL,
	[FilePath] [varchar](max) NULL,
	[CreatedOn] [date] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[State] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Td1ProvForm]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Td1ProvForm](
	[Id] [uniqueidentifier] NULL,
	[ProvinceId] [uniqueidentifier] NOT NULL,
	[FieldName] [varchar](max) NULL,
	[Heading] [varchar](max) NULL,
	[Details] [text] NULL,
	[Value] [float] NULL,
	[CreatedOn] [date] NULL,
	[ModifiedOn] [date] NULL,
	[State] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD1ProvRule]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD1ProvRule](
	[ID] [uniqueidentifier] NOT NULL,
	[DateCreate] [date] NOT NULL,
	[DateLive] [date] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_TD1ProvRule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[State] [bit] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedBy] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMember]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMember](
	[ID] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[State] [bit] NOT NULL,
	[TeamId] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrackLeave]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackLeave](
	[ID] [uniqueidentifier] NOT NULL,
	[UserBenefitId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_TrackLeave] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
	[CompanyId] [uniqueidentifier] NULL,
	[AddressLine1] [nvarchar](max) NULL,
	[AddressLine2] [nvarchar](max) NULL,
	[PostCode] [nvarchar](20) NULL,
	[ProvinceId] [uniqueidentifier] NULL,
	[DepttId] [uniqueidentifier] NULL,
	[CityId] [uniqueidentifier] NULL,
	[JobTitleId] [uniqueidentifier] NULL,
	[TD1FedRuleId] [uniqueidentifier] NULL,
	[TD1ProvRuleId] [uniqueidentifier] NULL,
	[CompanyVacationRuleId] [uniqueidentifier] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[Password] [nvarchar](max) NULL,
	[EmailConfirmToken] [nvarchar](max) NULL,
	[Owner] [uniqueidentifier] NULL,
	[AccessToken] [nvarchar](max) NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[State] [bit] NOT NULL,
	[Role] [nvarchar](50) NULL,
	[EmailConfirmed] [bit] NULL,
	[DateOfBirth] [date] NULL,
	[Interests] [nvarchar](max) NULL,
	[DateOfJoining] [date] NULL,
	[GenderId] [uniqueidentifier] NULL,
	[EmployeeId] [nvarchar](50) NULL,
	[ImportedOn] [datetime] NULL,
	[RoleId] [uniqueidentifier] NULL,
	[ProvinceOfEmploymentId] [uniqueidentifier] NULL,
	[SalaryId] [uniqueidentifier] NULL,
	[SocialInsuranceNumber] [nvarchar](50) NULL,
	[Department] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBenefit]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBenefit](
	[ID] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[BenefitId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_UserBenefit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBenefitClaim]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBenefitClaim](
	[ID] [uniqueidentifier] NOT NULL,
	[Amount] [int] NOT NULL,
	[DateCreate] [date] NOT NULL,
	[UserBenefitId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_UserBenefitClaim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDept]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDept](
	[ID] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[DeptId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[State] [bit] NULL,
	[StartDate] [datetime] NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserDept] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserExpense]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserExpense](
	[ID] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ExpenseId] [uniqueidentifier] NOT NULL,
	[Amount] [int] NOT NULL,
	[DateCreate] [date] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_UserExpense] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[ID] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[State] [bit] NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacationRule]    Script Date: 04/07/2026 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacationRule](
	[ID] [uniqueidentifier] NOT NULL,
	[DateLive] [date] NULL,
	[ProvinceId] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[State] [bit] NULL,
	[MinRange] [int] NULL,
	[MaxRange] [int] NULL,
	[PayPercentage] [int] NULL,
	[Days] [int] NULL,
	[CompanyId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_VacationRule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appraisal] ADD  CONSTRAINT [DF_Appraisal_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Appraisal] ADD  CONSTRAINT [DF_Appraisal_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[AppraisalGoal] ADD  CONSTRAINT [DF_AppraisalGoal_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Benefit] ADD  CONSTRAINT [DF_Benefit_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Benefit] ADD  CONSTRAINT [DF_Benefit_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[BenefitProvider] ADD  CONSTRAINT [DF_BenefitProvider_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[BillRule] ADD  CONSTRAINT [DF_BillRule_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Candidate] ADD  CONSTRAINT [DF_Candidate_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Candidate] ADD  CONSTRAINT [DF_Candidate_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[CandidateStatusId] ADD  CONSTRAINT [DF_CandidateStatusId_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[City] ADD  CONSTRAINT [DF_City_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[City] ADD  CONSTRAINT [DF_City_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[City] ADD  CONSTRAINT [DF_City_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[CompanyAddress] ADD  CONSTRAINT [DF_CompanyAddress_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[CompanyAddress] ADD  CONSTRAINT [DF_CompanyAddress_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CompanyAddress] ADD  CONSTRAINT [DF_CompanyAddress_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[CompanyTD1ProvRule] ADD  CONSTRAINT [DF_CompanyTD1ProvRule_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[CompanyTD1ProvRule] ADD  CONSTRAINT [DF_CompanyTD1ProvRule_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CompanyTD1ProvRule] ADD  CONSTRAINT [DF_CompanyTD1ProvRule_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[CompanyVacationRule] ADD  CONSTRAINT [DF_CompanyVacationRule_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[CompanyVacationRule] ADD  CONSTRAINT [DF_CompanyVacationRule_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CompanyVacationRule] ADD  CONSTRAINT [DF_CompanyVacationRule_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF_Country_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF_Country_Name]  DEFAULT (N'Canada') FOR [Name]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF_Country_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[CourseEmployee] ADD  CONSTRAINT [DF_CourseEmployee_CourseEmployeeId]  DEFAULT (newid()) FOR [CourseEmployeeId]
GO
ALTER TABLE [dbo].[CourseEmployee] ADD  CONSTRAINT [DF_CourseEmployee_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[CourseEmployeeStatus] ADD  CONSTRAINT [DF_CourseEmployeeStatus_CourseEmployeeStatusId]  DEFAULT (newid()) FOR [CourseEmployeeStatusId]
GO
ALTER TABLE [dbo].[CourseEmployeeStatus] ADD  CONSTRAINT [DF_CourseEmployeeStatus_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Courses] ADD  CONSTRAINT [DF_Courses_CourseId]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Courses] ADD  CONSTRAINT [DF_Courses_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Courses] ADD  CONSTRAINT [DF_Courses_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[CourseStatus] ADD  CONSTRAINT [DF_CourseStatus_CourseStatusId]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[CourseStatus] ADD  CONSTRAINT [DF_CourseStatus_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[CreditCard] ADD  CONSTRAINT [DF_CreditCard_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[CreditCard] ADD  CONSTRAINT [DF_CreditCard_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CreditCard] ADD  CONSTRAINT [DF_CreditCard_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Deptt] ADD  CONSTRAINT [DF_Deptt_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Deptt] ADD  CONSTRAINT [DF_Deptt_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Deptt] ADD  CONSTRAINT [DF_Deptt_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[EmployeeTablePreferences] ADD  CONSTRAINT [DF_EmployeeTablePreferences_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Expense] ADD  CONSTRAINT [DF_Expense_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Expense] ADD  CONSTRAINT [DF_Expense_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Expense] ADD  CONSTRAINT [DF_Expense_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[ExpenseCat] ADD  CONSTRAINT [DF_ExpenseCat_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[ExpenseCat] ADD  CONSTRAINT [DF_ExpenseCat_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ExpenseCat] ADD  CONSTRAINT [DF_ExpenseCat_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Gender] ADD  CONSTRAINT [DF_Gender_GenderId]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Grade] ADD  CONSTRAINT [DF_Grade_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Grade] ADD  CONSTRAINT [DF_Grade_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Grade] ADD  CONSTRAINT [DF_Grade_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Holiday] ADD  CONSTRAINT [DF_Holiday_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Holiday] ADD  CONSTRAINT [DF_Holiday_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[ImportFaliure] ADD  CONSTRAINT [DF_ImportFaliure_ImportFaliureId]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[ImportFaliure] ADD  CONSTRAINT [DF_ImportFaliure_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[InterviewPanel] ADD  CONSTRAINT [DF_InterviewPanel_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[InterviewPanel] ADD  CONSTRAINT [DF_InterviewPanel_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[InterviewRemark] ADD  CONSTRAINT [DF__InterviewRem__ID__5832119F]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[InterviewRemark] ADD  CONSTRAINT [DF__Interview__Creat__592635D8]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Invoice_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Invoice_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Invoice_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[JobInterview] ADD  CONSTRAINT [DF_JobInterview_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[JobInterview] ADD  CONSTRAINT [DF_JobInterview_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[JobInterview] ADD  CONSTRAINT [DF_JobInterview_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[JobTitle] ADD  CONSTRAINT [DF_JobTitle_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[JobTitle] ADD  CONSTRAINT [DF_JobTitle_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[JobTitle] ADD  CONSTRAINT [DF_JobTitle_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Language] ADD  CONSTRAINT [DF_Language_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Language] ADD  CONSTRAINT [DF_Language_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Language] ADD  CONSTRAINT [DF_Language_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Leave] ADD  CONSTRAINT [DF_Leave_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LegalName] ADD  CONSTRAINT [DF_LegalName_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[LegalName] ADD  CONSTRAINT [DF_LegalName_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LegalName] ADD  CONSTRAINT [DF_LegalName_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[NewJob] ADD  CONSTRAINT [DF_NewJob_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[NewJob] ADD  CONSTRAINT [DF_NewJob_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[NewJob] ADD  CONSTRAINT [DF_NewJob_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[NewJobStatus] ADD  CONSTRAINT [DF_NewJobStatus_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PaySchedule] ADD  CONSTRAINT [DF_PaySchedule_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[PaySchedule] ADD  CONSTRAINT [DF_PaySchedule_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PaySchedule] ADD  CONSTRAINT [DF_PaySchedule_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[ProviderServices] ADD  CONSTRAINT [DF_ProviderServices_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Province] ADD  CONSTRAINT [DF_Province_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Province] ADD  CONSTRAINT [DF_Province_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Province] ADD  CONSTRAINT [DF_Province_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Salary] ADD  CONSTRAINT [DF_Salary_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Salary] ADD  CONSTRAINT [DF_Salary_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Salary] ADD  CONSTRAINT [DF_Salary_Archive]  DEFAULT ((0)) FOR [Archive]
GO
ALTER TABLE [dbo].[TD1Fed] ADD  CONSTRAINT [DF_TD1Fed_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TD1Fed] ADD  CONSTRAINT [DF_TD1Fed_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Td1FedForm] ADD  CONSTRAINT [DF_Td1FedForm_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Td1FedForm] ADD  CONSTRAINT [DF_Td1FedForm_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Td1FedForm] ADD  CONSTRAINT [DF_Td1FedForm_ModifiedOn]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Td1FedForm] ADD  CONSTRAINT [DF_Td1FedForm_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[TD1FedRule] ADD  CONSTRAINT [DF_TD1FedRule_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[TD1FedRule] ADD  CONSTRAINT [DF_TD1FedRule_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TD1FedRule] ADD  CONSTRAINT [DF_TD1FedRule_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Td1Pdfs] ADD  CONSTRAINT [DF_Td1Pdfs_UploadedOn]  DEFAULT (getdate()) FOR [UploadedOn]
GO
ALTER TABLE [dbo].[Td1Pdfs] ADD  CONSTRAINT [DF_Td1Pdfs_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[TD1Prov] ADD  CONSTRAINT [DF_TD1Prov_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TD1ProvRule] ADD  CONSTRAINT [DF_TD1ProvRule_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[TD1ProvRule] ADD  CONSTRAINT [DF_TD1ProvRule_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TD1ProvRule] ADD  CONSTRAINT [DF_TD1ProvRule_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Team] ADD  CONSTRAINT [DF_Team_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Team] ADD  CONSTRAINT [DF_Team_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Team] ADD  CONSTRAINT [DF_Team_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[TeamMember] ADD  CONSTRAINT [DF_TeamMember_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[TeamMember] ADD  CONSTRAINT [DF_TeamMember_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[TrackLeave] ADD  CONSTRAINT [DF_TrackLeave_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[TrackLeave] ADD  CONSTRAINT [DF_TrackLeave_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TrackLeave] ADD  CONSTRAINT [DF_TrackLeave_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_ModifiedOn]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_EmailConfirmed]  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[UserBenefit] ADD  CONSTRAINT [DF_UserBenefit_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[UserBenefit] ADD  CONSTRAINT [DF_UserBenefit_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[UserBenefit] ADD  CONSTRAINT [DF_UserBenefit_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[UserBenefitClaim] ADD  CONSTRAINT [DF_UserBenefitClaim_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[UserBenefitClaim] ADD  CONSTRAINT [DF_UserBenefitClaim_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[UserBenefitClaim] ADD  CONSTRAINT [DF_UserBenefitClaim_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[UserDept] ADD  CONSTRAINT [DF_UserDept_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[UserDept] ADD  CONSTRAINT [DF_UserDept_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[UserExpense] ADD  CONSTRAINT [DF_UserExpense_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[UserExpense] ADD  CONSTRAINT [DF_UserExpense_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[UserExpense] ADD  CONSTRAINT [DF_UserExpense_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_UserRole_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_UserRole_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_UserRole_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[VacationRule] ADD  CONSTRAINT [DF_VacationRule_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[VacationRule] ADD  CONSTRAINT [DF_VacationRule_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[VacationRule] ADD  CONSTRAINT [DF_VacationRule_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Benefit]  WITH CHECK ADD  CONSTRAINT [FK_Benefit_BenefitProvider] FOREIGN KEY([BenefitProviderId])
REFERENCES [dbo].[BenefitProvider] ([ID])
GO
ALTER TABLE [dbo].[Benefit] CHECK CONSTRAINT [FK_Benefit_BenefitProvider]
GO
ALTER TABLE [dbo].[Benefit]  WITH CHECK ADD  CONSTRAINT [FK_Benefit_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[Benefit] CHECK CONSTRAINT [FK_Benefit_Company]
GO
ALTER TABLE [dbo].[Candidate]  WITH CHECK ADD  CONSTRAINT [FK_Candidate_JobInterview] FOREIGN KEY([JobInterviewId])
REFERENCES [dbo].[JobInterview] ([ID])
GO
ALTER TABLE [dbo].[Candidate] CHECK CONSTRAINT [FK_Candidate_JobInterview]
GO
ALTER TABLE [dbo].[Candidate]  WITH CHECK ADD  CONSTRAINT [FK_Candidate_NewJob] FOREIGN KEY([NewJobId])
REFERENCES [dbo].[NewJob] ([ID])
GO
ALTER TABLE [dbo].[Candidate] CHECK CONSTRAINT [FK_Candidate_NewJob]
GO
ALTER TABLE [dbo].[City]  WITH NOCHECK ADD  CONSTRAINT [FK_City_Province] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Province] ([ID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Province]
GO
ALTER TABLE [dbo].[City]  WITH NOCHECK ADD  CONSTRAINT [FK_City_Province1] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Province] ([ID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Province1]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_BillRule] FOREIGN KEY([BillRuleId])
REFERENCES [dbo].[BillRule] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_BillRule]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_City]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Province] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Province] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Province]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_TD1FedRule] FOREIGN KEY([TD1FedRuleId])
REFERENCES [dbo].[TD1FedRule] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_TD1FedRule]
GO
ALTER TABLE [dbo].[CompanyAddress]  WITH CHECK ADD  CONSTRAINT [FK_CompanyAddress_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[CompanyAddress] CHECK CONSTRAINT [FK_CompanyAddress_City]
GO
ALTER TABLE [dbo].[CompanyAddress]  WITH CHECK ADD  CONSTRAINT [FK_CompanyAddress_Province] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Province] ([ID])
GO
ALTER TABLE [dbo].[CompanyAddress] CHECK CONSTRAINT [FK_CompanyAddress_Province]
GO
ALTER TABLE [dbo].[CompanyRole]  WITH CHECK ADD  CONSTRAINT [FK_CompanyRole_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[CompanyRole] CHECK CONSTRAINT [FK_CompanyRole_Company]
GO
ALTER TABLE [dbo].[CompanyRole]  WITH CHECK ADD  CONSTRAINT [FK_CompanyRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[CompanyRole] CHECK CONSTRAINT [FK_CompanyRole_Role]
GO
ALTER TABLE [dbo].[CompanyTD1ProvRule]  WITH CHECK ADD  CONSTRAINT [FK_CompanyTD1ProvRule_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[CompanyTD1ProvRule] CHECK CONSTRAINT [FK_CompanyTD1ProvRule_Company]
GO
ALTER TABLE [dbo].[CompanyTD1ProvRule]  WITH CHECK ADD  CONSTRAINT [FK_CompanyTD1ProvRule_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[CompanyTD1ProvRule] CHECK CONSTRAINT [FK_CompanyTD1ProvRule_User]
GO
ALTER TABLE [dbo].[CompanyVacationRule]  WITH CHECK ADD  CONSTRAINT [FK_CompanyVacationRule_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[CompanyVacationRule] CHECK CONSTRAINT [FK_CompanyVacationRule_Company]
GO
ALTER TABLE [dbo].[CompanyVacationRule]  WITH CHECK ADD  CONSTRAINT [FK_CompanyVacationRule_VacationRule] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[VacationRule] ([ID])
GO
ALTER TABLE [dbo].[CompanyVacationRule] CHECK CONSTRAINT [FK_CompanyVacationRule_VacationRule]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_User]
GO
ALTER TABLE [dbo].[CreditCard]  WITH CHECK ADD  CONSTRAINT [FK_CreditCard_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[CreditCard] CHECK CONSTRAINT [FK_CreditCard_Company]
GO
ALTER TABLE [dbo].[Deptt]  WITH CHECK ADD  CONSTRAINT [FK_Deptt_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[Deptt] CHECK CONSTRAINT [FK_Deptt_Company]
GO
ALTER TABLE [dbo].[Expense]  WITH CHECK ADD  CONSTRAINT [FK_Expense_ExpenseCat] FOREIGN KEY([ExpenseCatId])
REFERENCES [dbo].[ExpenseCat] ([ID])
GO
ALTER TABLE [dbo].[Expense] CHECK CONSTRAINT [FK_Expense_ExpenseCat]
GO
ALTER TABLE [dbo].[Expense]  WITH CHECK ADD  CONSTRAINT [FK_Expense_Grade] FOREIGN KEY([GradeId])
REFERENCES [dbo].[Grade] ([ID])
GO
ALTER TABLE [dbo].[Expense] CHECK CONSTRAINT [FK_Expense_Grade]
GO
ALTER TABLE [dbo].[InterviewPanel]  WITH CHECK ADD  CONSTRAINT [FK_InterviewPanel_JobInterview] FOREIGN KEY([JobInterviewId])
REFERENCES [dbo].[JobInterview] ([ID])
GO
ALTER TABLE [dbo].[InterviewPanel] CHECK CONSTRAINT [FK_InterviewPanel_JobInterview]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_BillRule] FOREIGN KEY([BillRuleId])
REFERENCES [dbo].[BillRule] ([ID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_BillRule]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Company]
GO
ALTER TABLE [dbo].[JobInterview]  WITH CHECK ADD  CONSTRAINT [FK_JobInterview_NewJob] FOREIGN KEY([NewJobId])
REFERENCES [dbo].[NewJob] ([ID])
GO
ALTER TABLE [dbo].[JobInterview] CHECK CONSTRAINT [FK_JobInterview_NewJob]
GO
ALTER TABLE [dbo].[LegalName]  WITH CHECK ADD  CONSTRAINT [FK_LegalName_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[LegalName] CHECK CONSTRAINT [FK_LegalName_Company]
GO
ALTER TABLE [dbo].[NewJob]  WITH CHECK ADD  CONSTRAINT [FK_NewJob_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[NewJob] CHECK CONSTRAINT [FK_NewJob_Company]
GO
ALTER TABLE [dbo].[PaySchedule]  WITH CHECK ADD  CONSTRAINT [FK_PaySchedule_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[PaySchedule] CHECK CONSTRAINT [FK_PaySchedule_Company]
GO
ALTER TABLE [dbo].[TrackLeave]  WITH CHECK ADD  CONSTRAINT [FK_TrackLeave_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[TrackLeave] CHECK CONSTRAINT [FK_TrackLeave_User]
GO
ALTER TABLE [dbo].[TrackLeave]  WITH CHECK ADD  CONSTRAINT [FK_TrackLeave_UserBenefit] FOREIGN KEY([UserBenefitId])
REFERENCES [dbo].[UserBenefit] ([ID])
GO
ALTER TABLE [dbo].[TrackLeave] CHECK CONSTRAINT [FK_TrackLeave_UserBenefit]
GO
ALTER TABLE [dbo].[UserBenefit]  WITH CHECK ADD  CONSTRAINT [FK_UserBenefit_Benefit] FOREIGN KEY([BenefitId])
REFERENCES [dbo].[Benefit] ([ID])
GO
ALTER TABLE [dbo].[UserBenefit] CHECK CONSTRAINT [FK_UserBenefit_Benefit]
GO
ALTER TABLE [dbo].[UserBenefit]  WITH CHECK ADD  CONSTRAINT [FK_UserBenefit_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[UserBenefit] CHECK CONSTRAINT [FK_UserBenefit_User]
GO
ALTER TABLE [dbo].[UserBenefitClaim]  WITH CHECK ADD  CONSTRAINT [FK_UserBenefitClaim_UserBenefit] FOREIGN KEY([UserBenefitId])
REFERENCES [dbo].[UserBenefit] ([ID])
GO
ALTER TABLE [dbo].[UserBenefitClaim] CHECK CONSTRAINT [FK_UserBenefitClaim_UserBenefit]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Company]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
ALTER TABLE [dbo].[VacationRule]  WITH CHECK ADD  CONSTRAINT [FK_VacationRule_Province] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Province] ([ID])
GO
ALTER TABLE [dbo].[VacationRule] CHECK CONSTRAINT [FK_VacationRule_Province]
GO
